[Desktop Entry]
Name=Kali4kids

X-KDE-PluginInfo-Name=Kali4kids
X-KDE-PluginInfo-Author=Kali Devel Team
X-KDE-PluginInfo-Email=devel@kali.org
X-KDE-PluginInfo-License=GPL-3.0+
