[Desktop Entry]
Name=Kali Trail

X-KDE-PluginInfo-Name=Kali Trail
X-KDE-PluginInfo-Author=Kali Devel Team
X-KDE-PluginInfo-Email=devel@kali.org
X-KDE-PluginInfo-License=GPL-3.0+
