[Desktop Entry]
Name=Kali 2014 Grey2

X-KDE-PluginInfo-Name=Kali 2014 Grey2
X-KDE-PluginInfo-Author=Kali Devel Team
X-KDE-PluginInfo-Email=devel@kali.org
X-KDE-PluginInfo-License=GPL-3.0+
