[Desktop Entry]
Name=Kali Grid

X-KDE-PluginInfo-Name=Kali Grid
X-KDE-PluginInfo-Author=Kali Devel Team
X-KDE-PluginInfo-Email=devel@kali.org
X-KDE-PluginInfo-License=GPL-3.0+
