[Desktop Entry]
Name=Kali Offsec 1a

X-KDE-PluginInfo-Name=Kali Offsec 1a
X-KDE-PluginInfo-Author=Kali Devel Team
X-KDE-PluginInfo-Email=devel@kali.org
X-KDE-PluginInfo-License=GPL-3.0+
