[Desktop Entry]
Name=Backtrack 4 Red

X-KDE-PluginInfo-Name=Backtrack 4 Red
X-KDE-PluginInfo-Author=Kali Devel Team
X-KDE-PluginInfo-Email=devel@kali.org
X-KDE-PluginInfo-License=GPL-3.0+
