[Desktop Entry]
Name=Backtrack Blackhat2012 R3a

X-KDE-PluginInfo-Name=Backtrack Blackhat2012 R3a
X-KDE-PluginInfo-Author=Kali Devel Team
X-KDE-PluginInfo-Email=devel@kali.org
X-KDE-PluginInfo-License=GPL-3.0+
