[Desktop Entry]
Name=Backtrack 5r3

X-KDE-PluginInfo-Name=Backtrack 5r3
X-KDE-PluginInfo-Author=Kali Devel Team
X-KDE-PluginInfo-Email=devel@kali.org
X-KDE-PluginInfo-License=GPL-3.0+
