[Desktop Entry]
Name=Kali Nova

X-KDE-PluginInfo-Name=Kali Nova
X-KDE-PluginInfo-Author=Kali Devel Team
X-KDE-PluginInfo-Email=devel@kali.org
X-KDE-PluginInfo-License=GPL-3.0+
