[Desktop Entry]
Name=Kali Rings

X-KDE-PluginInfo-Name=Kali Rings
X-KDE-PluginInfo-Author=Kali Devel Team
X-KDE-PluginInfo-Email=devel@kali.org
X-KDE-PluginInfo-License=GPL-3.0+
